@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #17bdac;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.winner-text {
    font-size: 48px;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
}

.row {
    display: flex;
}

.row-item {
    display: flex;
    height: 7rem;
    width: 7rem;
    justify-content: center;
    padding: 1rem;
}

.row-item:first-child,
.row-item:nth-child(2) {
    border-right: 0.7rem solid #0aa292;
}

.row:not(:last-of-type) {
    border-bottom: 0.7rem solid #0aa292;
}

.game-piece {
    width: 85px;
    display: block;
}

.hidden {
    display: none;
}
